@model ArtAuction.Models.Auction
@{
    ViewData["Title"] = "Auction";
    Layout = "_Layout";
}

<main role="main">

<section class="jumbotron text-center auctionTab">
    <div class="container">
        <h1 class="jumbotron-heading">@Model.Title</h1>
        <p class="text-center font-weight-bold lead"> @Model.EndDateTime.ToString("g")</p>
        <p class="text-center font-weight-bolds">Place: @Model.Place</p>
        <p class="text-center lead">Movement\styles: @Model.Description</p>
        <!--it was p tag-->
        <div>
            @if (User.IsInRole("Administrator"))
            {
                if ((Model.EndDateTime - DateTime.Now).TotalSeconds >= 0)
                {
                    <a asp-controller="Auctions" asp-action="AddPainting" asp-route-id="@Model.Id" method="get" class="btn btn-info btn-lg pt-2 pb-2">Add a painting</a>
                }
                <form asp-controller="Auctions" asp-action="DeleteAuction" asp-route-id="@Model.Id" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger btn-block btn-lg mb-3"/>
                </form>
            }
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
        @foreach (var painting in Model.Paintings)
        {

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="~/content/paintings/@painting.ImgId" alt="Painting">
                    <div class="card-body">
                        <h4 class="card-text">@painting.Title</h4>
                        <p class="card-text">Artist: @painting.Artist</p>
                        <p class="card-text"> Style: @painting.Style</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-controller="Auctions" asp-action="PaintingView" asp-route-auctionId="@Model.Id" asp-route-paintingId="@painting.Id" class="btn btn-sm btn-outline-secondary">View</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>                
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</div>

</main>



