@model List<ArtAuction.Models.Auction>
@{
    ViewData["Title"] = "Upcoming";
    Layout = "_Layout";
}

<main role="main">

    <section class="jumbotron text-center upcomingTab">
        <div class="container">
            <h1 class="jumbotron-heading">Upcoming auctions</h1>
            <p class="lead  text-white">Participate and buy masterpieces! </p>
        </div>
    </section>
</main>

<div class="album py-5 bg-light">
<div class="container">
    <div class="row">
        @foreach (var auction in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="~/img/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3>@auction.Title</h3>
                        <p class="card-text"> @auction.Place</p>
                        <p class="card-text"> @auction.EndDateTime</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-controller="Auctions" asp-action="AuctionView" asp-route-id="@auction.Id" class="btn btn-sm btn-outline-secondary">
                                   View
                                </a>
                                @if (User.IsInRole("Administrator"))
                                {
                                    <a asp-controller="Auctions" asp-action="EditAuction" asp-route-id="@auction.Id" class="btn btn-sm btn-outline-secondary">
                                        Edit
                                    </a>
                                 }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</div>