@model ArtAuction.Models.User
@{
    ViewData["Title"] = "MyCollection";
    Layout = "_Layout";
}

<main role="main">

    <section class="jumbotron text-center mycollectionTab">
        <div class="container">
            <h1 class="jumbotron-heading">Your private collection of paintings</h1>
            <p>
                <!--<a href="#" class="btn btn-primary my-2">Add a new painting</a>-->
                <a asp-action="Upcoming" asp-controller="Auctions" class="btn btn-secondary my-2">Go to auctions section</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                @foreach (var painting in Model.Paintings)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="~/content/paintings/@painting.ImgId" alt="Painting">
                            <div class="card-body">
                                <h4 class="card-text"><a asp-action="PaintingView" asp-controller="Artists" asp-route-paintingId="@painting.Id">@painting.Title</a></h4>
                                <p class="card-text"><span class="font-weight-bold">Artist:</span> <a asp-controller="Artists" asp-action="ArtistView" asp-route-id="@painting.ArtistId"> @painting.Artist </a></p>
                                <p class="card-text"><span class="font-weight-bold"> Style:</span> @painting.Style</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</main>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<link href="css/album.css"rel="stylesheet"/>
