@model List<ArtAuction.Models.User>
@{
    ViewData["Title"] = "Collectors";
    Layout = "_Layout";
}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">

            @foreach (var user in Model)
                {
            <div class="col-md-4 mb-3">
                <h3 class="text-center"> @user.FirstName  @user.LastName</h3>
                <p class="text-center"> @user.Email</p>
                <p class="text-center"> @user.City , @user.Country </p>
                <p class="text-center"> Role: @user.Role  </p>
                @if (user.IsRepresentative)
                {
                    <p class="text-center"> Place of work: @user.Gallery  </p>
                }
              
                @if (user.Role != "Administrator")
                {
                    <a asp-controller="Collectors" asp-action="CollectorView" asp-route-id="@user.Id" class="btn btn-danger btn-block btn-sm pt-2 pb-2">Delete user</a>
                }
            </div>

                }
        </div>
    </div>
</div>


